body {
  font-family: sans-serif;  
  font-weight: lighter;
}

#statusContainer {
  position: fixed;
  background: #dadada;
  right: 0;
  top: 0;
}

#statusContainer[data-viewable="true"] {
  background: #1fc51f;
}

#statusContainer ul {
  margin: 0;
  padding: 12px;
  list-style: none;
}

#statusContainer hr {
  border-style: dashed;
}

#elementToMeasure {
  width: 640px; 
  height: 360px; 
  position: absolute; 
  top: 2000px;
  bottom: 2000px;
}